export NOTION_API_TOKEN=secret_Y0GdwWlEU7sSGQvUF4q8h5vLCPXhyluRjJvHgwSrUgK
export ESLINT_NO_DEV_ERRORS=true
export DISABLE_ESLINT_PLUGIN=true
export NOTION_FEEDER_MAX_ITEMS=2
export NOTION_FEEDER_BACKFILL_DAYS=1000
export NODE_ENVIRONMENT=dev
export SENTRY_DSN='https://a9ee6052f3b14aff82e93fbd71b1b380@o218963.ingest.sentry.io/4504217751257088'
export SENTRY_SAMPLING_RATE='1.0'

# export NOTION_READER_DATABASE_ID=7ab6387a38154ac18db8728ecc2f9e44
# export NOTION_FEEDS_DATABASE_ID=1b17c77ea6db4e4da6218d5b71ef4f2c
# dev instances
export NOTION_FEEDS_DATABASE_ID=ad125fd390be4db0aff6ca96975898da
export NOTION_READER_DATABASE_ID=0bfbb2206b794346a073637232a6d818
