export NOTION_API_TOKEN=secret_Y0GdwWlEU7sSGQvUF4q8h5vLCPXhyluRjJvHgwSrUgK
# export NOTION_READER_DATABASE_ID=7ab6387a38154ac18db8728ecc2f9e44
# export NOTION_FEEDS_DATABASE_ID=1b17c77ea6db4e4da6218d5b71ef4f2c
export ESLINT_NO_DEV_ERRORS=true
DISABLE_ESLINT_PLUGIN=true
export NOTION_FEEDER_MAX_ITEM=2
export NOTION_FEEDER_BACKFILL_DAYS=1000

# dev instances
export NOTION_FEEDS_DATABASE_ID=ad125fd390be4db0aff6ca96975898da
export NOTION_READER_DATABASE_ID=0bfbb2206b794346a073637232a6d818
